body{
    padding-top: 1rem;
}
h1{
    padding-bottom: 9px;
    margin-bottom: 9px;
    border-bottom: 9px;
}
.sidebar{
    position: fixed;
    top: 72px;
    bottom: 0px;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}
.sidebar .nav{
    margin-bottom: 20px;
}

.sidebar .nav-item{
    width: 100%;
}

.sidebar .nav-item +.nav-item{
    margin-left: 0;
}

.sidebar .navbar-link{
    border-radius: 0;
}